body{
    margin: 0;
}

header {
    font-family: sans-serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00A0F0 ;
    color: #fff;
  }
  
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    
  }
  
  nav li {
    margin-right: 60px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
  }

  button {
    font-family: sans-serif;
    font-style: normal;
  }

  .logout button {
    font-family: sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    margin-right: 30px;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 1s ease;
  }
  
  .logout button:hover {
    background-color: #003c7d;
  }

.moving{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.form{
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form_input,
.form_button{
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.form_title{
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;
}

.form_group{
  position: relative;
  margin-bottom: 32px;
}

.form_label{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #9e9e9e;
  transition: 0.3s;
}

.form_input{
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.form_input:focus{
  border-bottom: 1px solid #1a73a8;
}

.form_button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00A0F0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.form_button:hover{
  background-color: #003c7d;
}

.form_button:disabled {
  background-color: #00A0F0;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
  top: -20px;
  font-size: 12px;
  color: #e0e0e0;
  z-index: 2;
}

.parent_button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.names {
  width: 30%;
}

.chat {
  width: 90%;
  font-family: sans-serif;
  font-style: normal;
}

.names_list {
  list-style-type: none;
  padding: 0;
}

.display_name{
  cursor: pointer;
  padding: 10px;
}

.display_name.selected {
  background-color: #00A0F0;
}


.chat_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.chat_messages {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  padding: 10px;
  height: 570px;
}

.no-chat-selected {
  padding: 10px;
  text-align: center;
  color: gray;
}

.message{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message_text{
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 10px;
  height: 380px;
}

.time{
  text-align: right;
}

.username_in_chat{
  width: 50%;
  text-align: center;
  padding: 5px 10px;
  
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00A0F0;
}

.parrent_title{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.messages{
  padding: 10px 20px;
}



